<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <h1 class="text-3xl font-bold underline">
  
<div class="flex flex-col overflow-x-auto">
   <div class="sm:-mx-6 lg:-mx-8">
     <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
       <div class="overflow-x-auto">
         <div style="display:flex;justify-content:center;">
             
               <h6 class="mb-2 mt-0 text-base font-medium leading-tight text-primary">
                  Loan amount breakpoint   ${{loan_break_point}}
                </h6>
         </div>
         <nav
  class="relative flex w-full flex-wrap items-center justify-around bg-zinc-50 py-2 shadow-dark-mild dark:bg-neutral-700 lg:py-4">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <span class="ms-2 text-xl text-black dark:text-white">
      <h6 class="mb-2 mt-0 text-base font-medium leading-tight text-primary">
         Above ${{loan_break_point}}
       </h6>
      
    </span>
    <div class="ms-5 flex w-[30%] items-center justify-between">
      <h6 class="mb-2 mt-0 text-base font-medium leading-tight text-primary">
         Single Loan Branch Commission
       </h6>
    </div>
  </div>
</nav>
         <table
           class="min-w-full text-start text-sm font-light text-surface dark:text-white">
           <thead
             class="border-b border-neutral-200 font-medium dark:border-white/10">


             <tr>
               <th scope="col" class="px-6 py-4">
                  Flat fee
               </th>
               <th scope="col" class="px-6 py-4">
                  GCI
                  <br>
                  ${{gci}}
               </th>
               <th scope="col" class="px-6 py-4">
                  AHF
                  <br>
                  ${{ahf_commission}}
               </th>
               <th scope="col" class="px-6 py-4">
                  Branch
                  <br>
                  ${{branch_commission}}
               </th>
        
             </tr>
        
             <tr>
              
               <th scope="col" class="px-6 py-4">Bps</th>
               <th scope="col" class="px-6 py-4">Loan amount</th>
               <th scope="col" class="px-6 py-4">30%</th>
               <th scope="col" class="px-6 py-4">70%</th>
             </tr>
           </thead>
           <tbody>
             <tr class="border-b border-neutral-200 dark:border-white/10">
            
               <td class="text-center whitespace-nowrap px-6 py-4" id="D7">
                  {% if 50 < bps %}
                      50
                  {% else %}
                       0
                  {% endif %}

               </td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="E6">
                {% if bps > 0 %}
     
                {% else %}
                  0
                {% endif %}
               </td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="F7">cell</td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="G7">xxxx</td>
           
             </tr>
             <tr class="border-b border-neutral-200 dark:border-white/10">
      
               <td class="text-center whitespace-nowrap px-6 py-4" id="D8">
                {% if 100 < bps %}
                    100
                {% else %}
                     0
                {% endif %}
              </td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="E8">cell</td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="F8">Cell</td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="G8">Cell</td>
             
             </tr>
             <tr class="border-b ">
            
               <td class="text-center whitespace-nowrap px-6 py-4" id="D9">
               

                {% if  125 < bps %}
                      125
                {% else %}
                    0
                {% endif %}
              
              </td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="E9">xxxx33</td>
               <td class="text-center whitespace-nowrap px-6 py-4"  id="F9">Cell</td>
               <td class="text-center whitespace-nowrap px-6 py-4"  id="G9">Cell</td>
             
             </tr>


             <tr class="border-b border-neutral-200 dark:border-white/10">
            
               <td class="text-center whitespace-nowrap px-6 py-4" id="D10">
                

                {% if  150 < bps %}
                     150
                {% else %}
                      0
                 {% endif %}
              
              </td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="E10">555</td>
               <td class="text-center whitespace-nowrap px-6 py-4"  id="F10">Cell</td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="G10">Cell</td>
           
             </tr>
             <tr class="border-b border-neutral-200 dark:border-white/10">
      
               <td class="text-center whitespace-nowrap px-6 py-4" id="D11">
                

                {% if  175 < bps %}
                      175
                {% else %}
                      0
                  {% endif %}
                
              </td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="E11"></td>
               <td class="text-center whitespace-nowrap px-6 py-4"  id="F11">Cell</td>
               <td class="text-center whitespace-nowrap px-6 py-4"  id="G11">Cell</td>
             
             </tr>
             <tr class="border-b ">
            
               <td class="text-center whitespace-nowrap px-6 py-4" id="D12">
    
                {% if  225 < bps %}
                  225
                {% else %}
                    0
                {% endif %}
              </td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="E12">Cell</td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="F12">Cell</td>
               <td class="text-center whitespace-nowrap px-6 py-4" id="G12">Cell</td>
             
             </tr>

             <tr class="border-b ">
            
              <td class="text-center whitespace-nowrap px-6 py-4" id="D13">
               

               {% if  250 < bps %}
               250
             {% else %}
                   0
               {% endif %}
             
             </td>
              <td class="text-center whitespace-nowrap px-6 py-4" id="E13">Cell</td>
              <td class="text-center whitespace-nowrap px-6 py-4" id="F13">Cell</td>
              <td class="text-center whitespace-nowrap px-6 py-4" id="G13" >Cell</td>
            
            </tr>

            <tr class="border-b ">
            
              <td class="text-center whitespace-nowrap px-6 py-4" id="D14">
               
                {% if  200 < bps %}
                  200
                {% else %}
                      0
                {% endif %}
             
             </td>
              <td class="text-center whitespace-nowrap px-6 py-4" id="E14">Cell</td>
              <td class="text-center whitespace-nowrap px-6 py-4"  id="F14">Cell</td>
              <td class="text-center whitespace-nowrap px-6 py-4"  id="G14">Cell</td>
            
            </tr>
           </tbody>
         </table>


         <div class="flex flex-col" style="width: 80%;justify-content:space-between;">
          <div class="overflow-x-auto sm:-mx-6 lg:-mx-8" style="margin-left: auto;">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table
                  class="min-w-full text-left text-sm font-light text-surface dark:text-white">
                  <thead
                    class="border-b border-neutral-200 font-medium dark:border-white/10">
                    <tr>
                
                      <th scope="col" class="px-6 py-4"></th>
                      <th scope="col" class="px-6 py-4">AHF</th>
                      <th scope="col" class="px-6 py-4">Branch</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-b border-neutral-200 dark:border-white/10">
            
                      <td class="whitespace-nowrap px-6 py-4">Split</td>
                      <td class="whitespace-nowrap px-6 py-4">30%</td>
                      <td class="whitespace-nowrap px-6 py-4">70%</td>
                    </tr>
                  
                
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
       </div>
     </div>
   </div>
 </div>
  </h1>

  <script>
    const D7 =  document.getElementById('D7').innerHTML
    const E5 = "{{gci}}"
    const E6 = document.getElementById('E6')
    if( Number.parseFloat(D7) > 0) {
      E6.innerHTML =` $\ ${Number.parseFloat(E5) / Number.parseFloat(D7) * 10000}`
    } else {
      E6.innerHTML =0
    }


    const D8 =  document.getElementById('D8').innerHTML
    const E8 = document.getElementById('E8')
    if( Number.parseFloat(D8) > 0) {
      E8.innerHTML =` $\ ${Number.parseFloat(E5) / Number.parseFloat(D8) * 10000}`
    } else {
      E8.innerHTML =0
    }


    const D9 =  document.getElementById('D9').innerHTML
    const E9 = document.getElementById('E9')
    if( Number.parseFloat(D9) > 0) {
      E9.innerHTML =` $\ ${Number.parseFloat(E5) / Number.parseFloat(D9) * 10000}`
    } else {
      E9.innerHTML =0
    }


    const D10 =  document.getElementById('D10').innerHTML
    const E10 = document.getElementById('E10')
    if( Number.parseFloat(D10) > 0) {
      E10.innerHTML =` $\  ${Math.round(Number.parseFloat(E5) / Number.parseFloat(D10) * 10000)}`
    } else {
      E10.innerHTML =0
    }


    const D11 =  document.getElementById('D11').innerHTML
    const E11 = document.getElementById('E11')
    if( Number.parseFloat(D11) > 0) {
      E11.innerHTML =` $\  ${Math.round(Number.parseFloat(E5) / Number.parseFloat(D11) * 10000)}`
    } else {
      E11.innerHTML =0
    }


    const D12 =  document.getElementById('D12').innerHTML
    const E12 = document.getElementById('E12')
    if( Number.parseFloat(D12) > 0) {
      E12.innerHTML =` $\  ${Math.round(Number.parseFloat(E5) / Number.parseFloat(D12) * 10000)}`
    } else {
      E12.innerHTML =0
    }


    const D13 =  document.getElementById('D13').innerHTML
    const E13 = document.getElementById('E13')
    if( Number.parseFloat(D13) > 0) {
      E13.innerHTML =` $\  ${Math.round(Number.parseFloat(E5) / Number.parseFloat(D13) * 10000)}`
    } else {
      E13.innerHTML =0
    }



    const D14 =  document.getElementById('D14').innerHTML
    const E14 = document.getElementById('E14')
    if( Number.parseFloat(D14) > 0) {
      E14.innerHTML =` $\  ${Math.round(Number.parseFloat(E5) / Number.parseFloat(D14) * 10000)}`
    } else {
      E14.innerHTML =0
    }


    const ahf_commission_amount = Number.parseFloat("{{ahf_commission_amount}}")
    const F7 = document.getElementById("F7")
    F7.innerText = `${D7 * ahf_commission_amount}`


    const F8 = document.getElementById("F8")
    F8.innerText = `${D8 * ahf_commission_amount}`

    const F9 = document.getElementById("F9")
    F9.innerText = `${D9 * ahf_commission_amount}`


    const F10 = document.getElementById("F10")
    F10.innerText = `${D10 * ahf_commission_amount}`

    const F11 = document.getElementById("F11")
    F11.innerText = `${D11 * ahf_commission_amount}`


    const F12 = document.getElementById("F12")
    F12.innerText = `${D12 * ahf_commission_amount}`
   
    const F13 = document.getElementById("F13")
    F13.innerText = `${D13 * ahf_commission_amount}`


    const F14 = document.getElementById("F14")
    F14.innerText = `${D14 * ahf_commission_amount}`



    // branch logic
    const branch_commission_amount = Number.parseFloat("{{branch_commission_amount}}")
    const G7 = document.getElementById("G7")
    G7.innerText = `${D7 * branch_commission_amount}`


    const G8 = document.getElementById("G8")
    G8.innerText = `${D8 * branch_commission_amount}`

    const G9 = document.getElementById("G9")
    G9.innerText = `${D9 * branch_commission_amount}`


    const G10 = document.getElementById("G10")
    G10.innerText = `${D10 * branch_commission_amount}`

    const G11 = document.getElementById("G11")
    G11.innerText = `${Math.round(D11 * branch_commission_amount)}`


    const G12 = document.getElementById("G12")
    G12.innerText = `${D12 *branch_commission_amount}`
   
    const G13 = document.getElementById("G13")
    G13.innerText = `${D13 * branch_commission_amount}`


    const G14 = document.getElementById("G14")
    console.log("Hello world");
    G14.innerText = `${D14 * branch_commission_amount}`
   



   </script>
</body>
</html>


