{% extends '_base.html'%}
{% load humanize %}
{% load safe_divide %}
{% block style%}
<style>
        body {
            font-family: Arial, sans-serif;
        }
        .tree {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
        }

        .parent {
            height: 53px;
            width: 120px;
            position: relative;
            margin: 20px 0;
            padding: 10px;
            background-color: rgb(160, 157, 157);
            border-radius: 5px;
            text-align: center;
            margin-left: 30px;
            margin-right: 30px;
        }
        .node {
            position: relative;
            height: 53px;
            width: 120px;
            align-content: center;
            background-color: rgb(160, 157, 157);
            border-radius: 5px;
            text-align: center;
            text-overflow: clip;
            margin-left: 30px;
            margin-right: 30px;
        }

        .line {
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            background-color: rgb(20, 7, 7);
        }
        .line-vertical {
            height: 80px; /* Adjust to control vertical spacing */
            top: 100%;
            transform: translateX(-50%);
        }
        .line-horizontal {
            width: 5px; /* Adjust to control horizontal spacing */
            top: 50%;
        }
        .children {
            display: flex;
           
        }
</style>

{% endblock %}
{%block content %}

<div id="tree"></div>

{% include 'components/modal/new_mlo_modal.html' %}
<script>
    const user_id = "{{request.user.id}}"
    const BASE_URL = "{{BASE_URL}}"
 
    const node_info_urls = `${BASE_URL}/api/chart-view/?user_id=${user_id}`
      
    function NodeDetailHandler(node) {
                window.location.pathname = "/loan-detail"
            
            }

    function AddAgentHandler(node) {
             window.location.pathname = "/revenue/register/"
            
            }


    axios.get(node_info_urls)
          .then((data) => {


            const nodes = data.data
            console.log("nodes = ",nodes);
            
            if(nodes.length !== 0){
            let chart = new OrgChart("#tree", {
            
                nodeBinding: {
                    field_0: "name"
                },
                nodes: nodes,

                nodeMenu: {
                detail: {
                    text: "View Detail",
                    onClick: NodeDetailHandler
                },


                add_agent: {
                    text: "New Agent",
                    onClick: AddAgentHandler
                },
            },
                            
                });
            } else {
                window.location.pathname = "/error/"
            }
          
            
                })
      
          .catch((error) => {
            console.log("Error =",error);
          })



</script>

{% endblock %}