{% load humanize %}
{% load safe_divide %}



<tr class="py-4 bg-gray-200">

    <th scope="col" class="py-6 px-4">
      Summary
    </th>
    <th scope="col" class="py-6 px-4 font-bold">
      Credit
    </th>

    <th scope="col" class="py-6 px-4 font-bold">
      Debit
    </th>

    <th scope="col" class="py-6 px-4  font-bold">
        Balance
    </th>

    <th scope="col" class="py-6 px-4 font-bold">

    </th>

    <th scope="col" class="py-6 font-bold">

    </th>


   

    <th scope="col" colspan="2" class="py-6 px-2">
    
    </th>


    <!-- R column -->
    <th scope="col" class="py-6">
    
    </th>
  </tr>

  <tr class="bg-gray-200">

    <td scope="col" class="px-4">
      Branch 
    </td>
    <td scope="col" class="px-4 font-bold">
        ${{ahf_annual_cap_data.branch_gross_income|floatformat:'2'|intcomma}}
    </td>

    <td scope="col" class="px-4 font-bold">
      {{debit|floatformat:'2'|intcomma}}
    </td>

    <td scope="col" class="px-4  font-bold">
        ${{balance|floatformat:'2'|intcomma}}
    </td>

    <td scope="col" class="px-4 font-bold">

    </td>

    <td scope="col" class="font-bold">

    </td>


   

    <td scope="col" colspan="2" class="px-2">
    
    </td>


    <!-- R column -->
    <td scope="col" class="">
    <a href="/">
    <button
      type="button"
      class="inline-block rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-dark-3 transition duration-150 ease-in-out hover:bg-neutral-700 hover:shadow-dark-2 focus:bg-neutral-700 focus:shadow-dark-2 focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-dark-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
      Make  Zero
    </button>
  </a>
    </td>
  </tr>
