{% load humanize %}

<table class="min-w-full text-start text-sm font-light text-surface dark:text-white">
    <thead class="border-b border-neutral-200 dark:border-white/10">

        <!-- Loan Amount breakpoint row -->
        <tr scope="col" class="min-w-full  bg-gray-400">
            <th colspan="5" class="space-around min-w-full text-center">
                <p class="pl-10 text-center">
                    Loan Amount breakpoint ${{loan_break_point|intcomma}}
                </p>
            </th>
            <th class="px-3"></th>
        </tr>

        <!-- Above loan breakpoint row -->
        <tr scope="col" class="min-w-full  bg-gray-400 m-4">
            <th colspan="5" class="space-around min-w-full text-center">
                <p class="pl-10 text-center">
                   Above ${{loan_break_point|intcomma}}
                </p>
            </th>
           
            <th class="max-w-full">
                Single Loan Branch Commission
            </th>
        </tr>



        <tr scope="col" class="min-w-full  bg-gray-100 m-4">
            <th colspan="5" class="space-around min-w-full text-center">
                GCI
                <br>

                Flat fee ${{flat_fee_gci|intcomma}}
            </th>

            <!-- AHF Commission row  -->
            <th class="">
                AHF
                <br>
                ${{ahf_commission|intcomma}}
            </th>
            <th class="px-3">

            </th>
        

            <th class="px-3"></th>
            <th class="max-w-full">
                Branch
                <br>
               ${{above_loan_break_point_ahf_commission|intcomma}}
            </th>


        </tr>



        <tr scope="col" class="min-w-full  bg-gray-100 m-4">
            <th colspan="5" class="space-around min-w-full text-center">
                Bps
            </th>

            <th>
                Loan amount
            </th>

            <th>
                {{ahf_amount}}%
            </th>
            <th>
                {{branch_amount}}%
            </th>


        </tr>

        <tr class="border-b border-neutral-200 dark:border-white/10">
            <td class="px-3 text-center"></td>
            <td></td>

            <td class="text-center whitespace-nowrap px-3 font-bold" id="D8">
                {% if 100 < bps %} 100 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap  font-bold" id="E8">cell</td>
            <td class="text-center whitespace-nowrap" id="F8">Cell</td>

            <td class="text-center whitespace-nowrap font-bold" id="G8">Cell</td>

        </tr>



        <tr class="border-b border-neutral-200 dark:border-white/10 bg-gray-100">
            <td class="px-3 text-center"></td>
            <td></td>


            <td class="text-center whitespace-nowrap font-bold" id="D9">


                {% if 125 < bps %} 125 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-3 font-bold" id="E9">33</td>
            <td class="text-center whitespace-nowrap px-3" id="F9">Cell</td>
            <td class="text-center whitespace-nowrap px-3 font-bold" id="G9">Cell</td>

        </tr>


        <tr class="border-b border-neutral-200 dark:border-white/10 ">
            <td class="px-3 text-center"></td>
            <td></td>

            <td class="text-center whitespace-nowrap px-3 font-bold" id="D10">
                {% if 150 < bps %} 150 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-3 font-bold" id="E10">555</td>
            <td class="text-center whitespace-nowrap px-3" id="F10">Cell</td>
            <td class="text-center whitespace-nowrap px-3 font-bold" id="G10">Cell</td>

        </tr>


        <tr class="border-b border-neutral-200 dark:border-white/10 bg-gray-100">
            <td class="px-3 text-center"></td>
            <td></td>

            <td class="text-center whitespace-nowrap px-3 font-bold" id="D11">


                {% if 175 < bps %} 175 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-3 font-bold" id="E11"></td>
            <td class="text-center whitespace-nowrap px-3" id="F11">Cell</td>
            <td class="text-center whitespace-nowrap px-3  font-bold" id="G11">Cell</td>

        </tr>

        <tr class="border-b border-neutral-200 dark:border-white/10">
            <td class="px-3 text-center"></td>
            <td></td>

            <td class="text-center whitespace-nowrap px-3 font-bold" id="D12">


                {% if 200 < bps %} 200 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-3 font-bold" id="E12"></td>
            <td class="text-center whitespace-nowrap px-3" id="F12">Cell</td>
            <td class="text-center whitespace-nowrap px-3  font-bold" id="G12">Cell</td>

        </tr>



        <tr class="border-b border-neutral-200 dark:border-white/10 bg-gray-100">
            <td class="px-3 text-center"></td>
            <td></td>
            <td class="text-center whitespace-nowrap px-3  font-bold" id="D13">


                {% if 225 < bps %} 225 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-3 font-bold" id="E13"></td>
            <td class="text-center whitespace-nowrap px-3" id="F13">Cell</td>
            <td class="text-center whitespace-nowrap px-3 font-bold" id="G13">Cell</td>


        </tr>

        <tr class="border-b border-neutral-200 dark:border-white/10 ">
            <td class="px-3 text-center"></td>
            <td></td>
            <td class="text-center whitespace-nowrap px-3 font-bold" id="D14">
                {% if 250 < bps %} 250 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-3  font-bold" id="E14"></td>
            <td class="text-center whitespace-nowrap px-3" id="F14">Cell</td>
            <td class="text-center whitespace-nowrap px-3  font-bold" id="G14">Cell</td>
        </tr>




    </thead>


    <tbody class="min-w-full">
        <tr scope="col" class="min-w-full  bg-gray-100 m-4">
            <td class="px-3 text-center"></td>
            <td></td>

            <td class="px-3 text-center whitespace-nowrap font-bold" id="D7">
                {% if 50 < bps %} 50 {% else %} 0 {% endif %} <td class="text-center whitespace-nowrap font-bold"
                    id="E6">

            </td>
            <td class="px-3"></td>
            <td class="px-3 text-center"></td>
            <td class="px-3"></td>
            <td class="px-3 text-center"></td>
            <td class="px-3"></td>

            <td class="text-center whitespace-nowrap" id="F7">cell</td>
            <td class="px-3"></td>
            <td class="px-3"></td>



            <td class="text-center whitespace-nowrap font-bold" id="G7"></td>

        </tr>

    </tbody>


</table>