{% load humanize %}
{% load safe_divide %}
<!-- table of at and below -->
<table class="min-w-full text-start text-sm font-light text-surface dark:text-white">
    <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
        <tr class="w-full dark:border-white/10" style="background-color: #8eadbf;">
            <th scope="col" colspan="4" class="w-full py-2">
                Loan amount breakpoint ${{loan_break_point|intcomma}}
            </th>
        </tr>

        <tr class="dark:border-white/10 bg-blue-100" style="margin-bottom:0;">
    
            <th class="font-bold" colspan="2">
                Above  ${{loan_break_point|intcomma}}
            </th>

            <th scope="col" class="font-bold" colspan="2">
                Single Loan Branch Commission
            </th>
        </tr>


        <tr class="font-bold border-b border-black bg-gray-300">
            <th  class="px-6">
            
            </th>

            <th  class="px-6"scope="col">
               GCI
            </th>

            <th  class="px-6"scope="col">
                AHF

            </th>

            <th class="px-6"> 
                Branch
            </th>
        </tr>

        <tr class="font-bold border-b border-black bg-gray-300">
            <th  class="px-6">
                Flat fee
            </th>

            <th  class="px-6"scope="col">
               {{gci|intcomma}}
            </th>

            <th  class="px-6"scope="col">
                ${{ahf_commission|intcomma}}
            </th>

            <th class="px-6"> 
                ${{above_loan_break_point_ahf_commission|intcomma}}
            </th>
        </tr>





        <tr class="bg-gray-300 font-light" style="margin-bottom:0;">

            <th class="font-light" scope="col" class="px-6">BPS</th>
            <th class="font-light" scope="col" class="px-6">GCI </th>
            <th class = "font-light" scope="col" class="px-6"> {{ahf_amount}}%</th>
            <th class = "font-light" scope="col" class="px-6">{{branch_amount}}%</th>
        </tr>


    </thead>
    <tbody>



        {% for num in bps_from_50_to_250 %}
        <tr class="border-b border-neutral-200 dark:border-white/10 bg-gray-200" id="below_row_{{num}}">

            <td class="text-center whitespace-nowrap px-6">
                {{num|intcomma}}
            </td>

            <td class="text-center whitespace-nowrap px-6">

                {{bps_to_gci_dict|dict_get:num|floatformat:"2"}}

            </td>

            <td class="text-center whitespace-nowrap px-6">
                {{   bps_to_ahf_commission_dict|dict_get:num|floatformat:"2"}}
    
            </td>

            <td class="text-center whitespace-nowrap px-6">
                

                {{bps_to_branch_commission_dict|dict_get:num|floatformat:"2"}}

            </td>
         
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>