{% load humanize %}
{% load safe_divide %}
<div class="w-50">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-left text-sm font-light text-surface dark:text-white bg-gray-500">
          <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
            <tr>
            <tr>

              <p class="mb-0 mt-0 text-base font-light leading-relaxed bg-gray-200">
                AHF Annual Cap
              </p>

              <th scope="col" class="px-6">AHF</th>
              <th scope="col" class="px-6">BRANCH</th>

            </tr>
          </thead>
          <tbody class="bg-gray-200">

            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">

              <td class="whitespace-nowrap px-6">
              ${{ahf_annual_cap_data.gross_income|intcomma}}
              </td>
              <td class="whitespace-nowrap px-6">
                ${{ahf_annual_cap_data.gross_ahf_income|intcomma}}
              </td>

            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">

              <td class="whitespace-nowrap px-6">Loans per year</td>
              <td class="whitespace-nowrap px-6">

                <form action="{% url 'home:change_ahf_loan' %}" method="post" class="flex flex-col" id="ahf_form">
                  {% csrf_token %}



                  <div class="relative mb-3" data-twe-input-wrapper-init>
                    <input 
                      type="text" 
                  
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:outline-none focus:ring-2 focus:ring-blue-200 data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      id="H10"
                      value="{{ahf_loan_per_year}}"
                      name="H10"
                       />
                   
                  </div>


                  
                </form>

              </td>

            </tr>


            <tr class="border-b border-neutral-200 dark:border-white/10">

              <td class="whitespace-nowrap px-6">Loans per month</td>
              <td class="whitespace-nowrap px-6">
             
                {{ahf_loan_per_year|safe_divide|floatformat:"2"}}
              </td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  const ahf_form = document.getElementById("ahf_form")
  ahf_form.addEventListener("submit",function(e) {
    const h10 = document.getElementById("H10")
    if(h10.value < 1) {
      e.preventDefault()
      h10.value = 1
      h10.setAttribute("min",1)
  
    }
  
  })
  
</script>