{% load humanize %}
{% load safe_divide %}

<table class="min-w-full text-start text-sm font-light text-surface dark:text-white">
  <thead class="border-b border-neutral-200 dark:border-white/10">


    <tr class="w-full bg-blue-100 py-4">
      <th class="px-6"></th>
      <th class="px-6"></th>
      <th class="px-6"></th>
      <th class="px-6"></th>
      <th class="px-6"></th>
    </tr>


    <tr class="w-full bg-gray-200 py-4">
      <th class="px-6"></th>
      <th class="px-6"></th>
      <th class="px-6"></th>
      <th class="px-6"></th>
      <th class="px-6"></th>
    </tr>



    <tr class="w-full bg-gray-200" style="margin-bottom:0;">
      <th scope="col" colspan="2" class="px-0">
        Annual cap
      </th>
      
      <th scope="col" class="font-light">
        GCI 
      
      </th>

      <th scope="col" class="px-6">
        AHF
      </th>
      <th scope="col" class="px-6">
        Branch
      </th>
    </tr>

    <tr class="bg-gray-200"  style="margin-top: 0;">
      <th scope="col" class="w-full">
        Loans per year
      </th>
      <th scope="col" class="w-full">
        per Month
      </th>


      <th>
        COST
      </th>
     
      <th scope="col" class="font-light">
        {{ahf_amount}}%
      </th>
      <th scope="col" class="px-6">
        {{branch_amount}}%
      </th>

    </tr>

  </thead>


  <tbody>



    {% for num in ahf_annual_cap_data.annual_ahf_to_gci_result %}




    <tr class="border-b border-neutral-200 dark:border-white/10 bg-gray-100" id="row_{{num}}">

      <td class="text-center whitespace-nowrap px-6">
         {{num|floatformat:'2'}}
      </td>
      <td class="text-center whitespace-nowrap px-6">
        {{ num|safe_divide|floatformat:"2"}}
      </td>

      <td class="text-center whitespace-nowrap px-6" id="D2_{{num}}">
        
      </td>

      <td class="text-center whitespace-nowrap px-6" id="L2_{{num}}" >
      
      </td>

      <td class="text-center whitespace-nowrap px-6" id="K2_{{num}}">
        $0
      </td>

      

      {% endfor %}




  </tbody>
</table>


<script>

  function zipArrays(arr1, arr2) {
    const zipped = [];
    for (let i = 0; i < Math.min(arr1.length, arr2.length); i++) {
      zipped.push([arr1[i], arr2[i]]);
    }
    return zipped;
  }



  const gci = Number.parseFloat("{{gci}}")
  let annual_ahf_to_gci_result = "{{ahf_annual_cap_data.annual_ahf_to_gci_result}}"
  const plan_percentage = Number.parseFloat("{{comp_plan_for_lower_limit.Percentage}}")
  const E23 = Number.parseFloat("{{E23}}")


  const below_limits_raw = "{{loan_below_limits}}"
  const below_limits = JSON.parse(below_limits_raw);
  let index = 0
  


  annual_ahf_to_gci_result = JSON.parse(annual_ahf_to_gci_result);
 
  for (let [gci, num] of zipArrays(below_limits, annual_ahf_to_gci_result)) {
    const tr = document.getElementById(`row_${num}`)
    if(tr !== null){
    if(index % 2 == 0) {
   
      tr.classList.remove("bg-gray-100")

    }
  }

    const D2 = document.getElementById(`D2_${num}`)
    const L2 = document.getElementById(`L2_${num}`)
    if(D2 !== null){
      const gci_result = (plan_percentage * 100) * gci / 10000 + Number.parseFloat("{{comp_plan_for_lower_limit.Flat_Fee}}")
      const result = E23 - gci_result
      D2.innerText = `${result.toLocaleString()}`
      index += 1
    }

  }

  for (let [gci, num] of zipArrays(below_limits, annual_ahf_to_gci_result)) {
    console.log("num=",num)
    
    const L2 = document.getElementById(`L2_${num}`)
    if(L2 !== null) {
    
    const gci_result = (plan_percentage * 100) * gci / 10000 + Number.parseFloat("{{comp_plan_for_lower_limit.Flat_Fee}}")
    const result = E23 - gci_result
    L2.innerText = `$${(result * Number.parseFloat("{{ahf_amount}}")/100 ).toLocaleString()}`
    }
  }

 
  for (let [gci, num] of zipArrays(below_limits, annual_ahf_to_gci_result)) {
    const K2 = document.getElementById(`K2_${num}`)
    if(K2 != null) {
      const gci_result = (plan_percentage * 100) * gci / 10000 + Number.parseFloat("{{comp_plan_for_lower_limit.Flat_Fee}}")
      const result = E23 - gci_result
      K2.innerText = `$${(result * Number.parseFloat("{{branch_amount}}")/100 ).toLocaleString()}`

    }


  }

</script>