{% load humanize %}
{% load static %}
{% load safe_divide %}

<style>
    .disabled {
        opacity: 0.5; /* Reduce opacity to make it appear grayed out */
        cursor: not-allowed; /* Change cursor to indicate it's not clickable */
      }

    

</style>
<div>
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full sm:px-6 lg:px-8">
                <div>
                    <table class="text-left text-sm font-light text-surface dark:text-white">
                        <thead
                            class="border-b border-neutral-200 bg-white font-medium dark:border-white/10 dark:bg-body-dark">
                            <tr>
                                <th scope="col" class="px-6">Wholesale comp plan</th>
                                <th scope="col" class="px-6"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b border-neutral-200 bg-black/[0.02] dark:border-white/10">
                                <td class="whitespace-nowrap px-6 font-medium">Flat Fee</td>
                                <td class="whitespace-nowrap px-6">{{comp_plan_for_lower_limit.Flat_Fee}}</td>
                            </tr>
                            <tr class="border-b border-neutral-200 bg-gray/[0.02] dark:border-white/10">
                                <td class="whitespace-nowrap px-6 font-medium">Percentage (0.000% -2.750%)</td>
                                <td class="whitespace-nowrap px-6">

                                    {{min_compesate}}%
                                    
                                  </td>
                            </tr>
                            <tr class="border-b border-neutral-200 bg-black/[0.02] dark:border-white/10 bg-gray-200">
                                <td class="whitespace-nowrap px-6 font-medium">Minimum Compensation ($0 -$2,750)</td>
                                <td class="whitespace-nowrap px-6">
                                      
                                </td>
                            </tr>


                            <tr class="border-b border-neutral-200 bg-black/[0.02] dark:border-white/10">
                                <td class="whitespace-nowrap px-6 font-medium">Maximum Compensation (Min. Comp - $40,000)

                                </td>
                                <td class="whitespace-nowrap px-6">

                                </td>
                            </tr>


                           

                            <tr class="border-b border-neutral-200 bg-black/[0.02] dark:border-white/10">
                                <td class="whitespace-nowrap font-medium pl-6">Max</td>
                                <form 
                                action="{% url 'comp_plan_change_view' %}"
                                 method="post"
                                style="display: flex;justify-content:center;"
                                class="pl-6"
                                >
                                {% csrf_token %}
                                <td class="whitespace-nowrap">
                                   
                                        <div 
                                        class="ml-8 relative mb-3"
                                         data-twe-input-wrapper-init>
                                            <input 
                                                type="text"
                                                id="max_gci"
                                                 name="max_gci"
                                                 class="peer block min-h-[auto]  rounded border-0 bg-transparent leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                                                 style="width:100%;"
                                                 
                                                value="{{comp_plan_for_lower_limit_MAX_GCI}}" />
                                                <label for="exampleFormControlInputText"
                                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">
    
                                            </label>
                                            
                                        </div>



                                </td>

                            </tr>

                            <!-- Table row for Comp Percentage -->
                            <tr class="border-b border-neutral-200 bg-black/[0.02] dark:border-white/10">
                                <td class="whitespace-nowrap px-6 font-medium">Comp Percentage</td>

                                <td class="whitespace-nowrap px-6">
                                    <!-- for comp plan -->


                                    <div class="relative mb-3" data-twe-input-wrapper-init>
                                        <input 
                                            type="text"
                                            name="comp_plan"
                                            id="comp_plan"
                                            value="{{comp_plan_for_lower_limit.Percentage}}"
                                            class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3  leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                                            id="exampleFormControlInputText"
                                         
                                            placeholder="" />
                                        <label for="exampleFormControlInputText"
                                            class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">

                                        </label>
                                    </div>


                                </td>
                            </tr>

                            <!-- End row for Comp Percentage -->


                            <!--Table  for loan break point -->
                            <tr class="border-b border-neutral-200 bg-black/[0.02] dark:border-white/10">
                                <td class="whitespace-nowrap px-6  font-medium">Loan break point</td>
                                <td class="whitespace-nowrap px-6">

                                    <div class="relative mb-3" data-twe-input-wrapper-init>
                                        <input
                                            type="text" 
                                            name="loan_break_point"
                                            id="loan_break_point"
                                            class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                                            id="exampleFormControlInputText" class="inputs_fields" placeholder=""
                                            value="{{loan_break_point}}" />
                                        <label for="exampleFormControlInputText"
                                            class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">

                                        </label>
                                    </div>

                                </td>

                            </tr>
                            <!-- end  for loan break point -->


                            <!--Table row  for split -->
                            <tr class="border-b border-neutral-200 bg-black/[0.02] dark:border-white/10">
                                <td class="whitespace-nowrap px-6 font-medium">Split</td>
                                <td class="whitespace-nowrap px-6">


                                    <div style="display: flex;">
                                        <div class="relative mb-3" data-twe-input-wrapper-init>
                                            <input type="text" name="branch_amount" id="branch_amount"
                                                value="{{branch_amount}}"
                                                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                                                class="inputs_fields" placeholder="" value="{{branch_amount}}" />
                                            <label for="exampleFormControlInputText"
                                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">

                                               
                                         
                                          
                                        </div>
                                        <input 
                                            id="btn-save" 
                                            type="submit"
                                            value="Save"
                                            class="bg-gray-500 text-white font-bold px-2 rounded disabled"
                                            >

                                    </div>

                                    </form>
                                </td>

                            </tr>

                            <!--Table row  for split -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    

    <div>

    </div>
</div>




<script src="{% static 'comp_plan_table.js'%}"></script>