{% load humanize %}
{% load safe_divide %}

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table id="gross"
          class="min-w-full text-center text-sm font-light text-surface dark:text-white border-collapse border">
          <thead class="border-b border-neutral-200 font-medium dark:border-white/10">


            <tr class="bg-gray-200 py-8">

              <th scope="col" class="flex w-auto">
                W2 Branch Yearly Gross Income
              </th>
              <th scope="col" class="font-bold">
                ${{ahf_annual_cap_data.test2_branch_gross_income|floatformat:'2'|intcomma}}
              </th>

              <th scope="col" class="font-bold">

              </th>

              <th scope="col" class="font-bold">

              </th>



              <th scope="col" colspan="2" class="px-1">

              </th>


              <th scope="col" colspan="2" class="px-1">

              </th>


              <!-- R column -->
              <th scope="col" colspan="2" class="px-1">
                Number of Loans
              </th>

              <th scope="col" class="">
                {{loan_per_year}}
              </th>
            </tr>




          </thead>

          <tbody>

            {% for category in categories %}


            <tr class="flex  dark:border-white/10 ">

              <td class="flex whitespace-nowrap px-6 font-bold">
                {{category}}
              </td>
              <td class="whitespace-nowrap">
              </td>
              <td class="whitespace-nowrap">
              </td>
            </tr>

            {% for expense in category.expense.all %}
            <tr class="flex space-between min-w-full text-center text-sm font-light text-surface dark:text-white"
              style="flex-direction: row;justify-content:space-around;">

              <td class="flex whitespace-nowrap">
                {{expense}}
              </td>
              <td class="px-4">

              </td>

              <td class="px-4">

              </td>

              <td class="px-4">

              </td>
              <td class="px-4">


                <form action="{% url 'W2branchYearlyGross:control_expense' %}" method="post"
                  class="flex flex-col items-center">
                  {% csrf_token %}
                  <div class="relative mb-3" data-twe-input-wrapper-init>
                    <input type="text"
                      class="peer block min-h-[auto] rounded border-0 bg-transparent leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      value="{{expense.expense}}" id="category_expense" name="category_expense" />

                    <input type="hidden" name="category" value="{{category}}" />

                    <input type="hidden" name="expense" value="{{expense}}" />

                  </div>
                </form>
              </td>

            </tr>
            {% endfor %}
            {% endfor %}


            <!--     Total Expense row  -->
            <tr class="flex border-b border-neutral-200 dark:border-white/10 py-4">
              <td class="flex px-4 font-bold">
                Total Expense
              </td>

              <td class="flex justify-around align-center px-6 font-bold">
                {{total_expense|floatformat:'2'|intcomma}}
              </td>

              <td class="px-4">

              </td>
              <td>

              </td>


              <td class="px-4">

              </td>


              <td class="px-4">

              </td>

              <td class="px-4">

              </td>

              <td class="px-4">

              </td>
            </tr>
            <!--  blank table row -->
            {% include 'includes/blank_table_row.html' %}


            <!--  Net income before payroll -->
            {% include 'components/net_income_before_payroll.html' %}
            <!--  blank table row -->
            {% include 'includes/blank_table_row.html' %}


            <!-- Taxable Gross Payroll  -->
            <tr class="flex min-w-full border-b border-neutral-200 dark:border-white/10 bg-gray-400">
              <td class="px-2 whitespace-nowrap font-medium py-2" colspan="4">
                <p class="font-bold">W2 Taxable Gross Payroll </p>
              </td>

              <td class="px-4 font-bold whitespace-nowrap">
                <p>
                  {{w2_branch_yearly_gross_income_data.w2_Taxable_gross_payroll|floatformat:'2'|intcomma}}
                <p>
              </td>


              <td class="px-4 whitespace-nowrap">
                {{w2_branch_yearly_gross_income_data.w2_Taxable_gross_payroll|intcomma}}
              </td>

              <td class="fwhitespace-nowrap">
                <form action="{% url 'W2branchYearlyGross:control_Q22_value' %}" method="post">
                  {% csrf_token %}
                  <p>
                  <div class="relative mb-3" data-twe-input-wrapper-init>
                    <input type="text"
                      class="mx-4 peer block min-h-[auto] rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0 text-center"
                      id="Q22" value="{{w2_branch_yearly_gross_income_data.q22}}" id="Q22" name="Q22" />
                    <p>
                </form>

              </td>

              <td class="px-4 whitespace-nowrap font-bold" colspan="2">
              </td>

              <td class="whitespace-nowrap font-bold" colspan="4">
                <p>
                  per month
                <p>
              </td>


              <td class="whitespace-nowrap font-bold" colspan="2">
                <p>

                <p>
              </td>


            </tr>w2_Taxable_gross_payroll


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>