<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8 text-center">
        <div class="overflow-hidden">
          <table
            class="min-w-full border border-neutral-200 text-center text-sm font-light text-surface dark:border-white/10 dark:text-white">
            <thead class="border-b border-neutral-200 font-medium dark:border-white/10 text-center"
              style="display:flex;flex-direction:column;justify-content:space-around;">
              <tr class="flex justify-center">
  
                <th scope="col" class="px-6 py-4">Gross Income</th>
              </tr>
  
              <tr class="flex justify-center" style="display:flex;flex-direction:row;justify-content:space-around;">
  
                <th scope="col" class="px-6 py-4">AHF</th>
                <th scope="col" class="px-6 py-4">Branch</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 dark:border-white/10">
                  22
                </td>
                <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 dark:border-white/10">
                  AHF
                </td>
  
                <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 dark:border-white/10">
                  Branch
                </td>
  
  
              </tr>
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 font-medium dark:border-white/10">
                  465000
                </td>
  
                <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 font-medium dark:border-white/10">
                  136950
                </td>
  
  
                <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 font-medium dark:border-white/10">
                  136950
                </td>
  
  0
                </td>
  
  
              </tr>
  
  
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 font-medium dark:border-white/10">
                  100%
                </td>
  
                <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 font-medium dark:border-white/10">
                  30%
                </td>
  
  
                <td class="whitespace-nowrap border-e border-neutral-200 px-6 py-4 font-medium dark:border-white/10">
                  70%
                </td>
  
              </tr>
  
  
  
  
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>