{% load humanize %}
{% load safe_divide %}
<div>
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-left text-sm font-light text-surface dark:text-white">
          <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
            <tr>
            <tr>

              <p class="mb-0 mt-0 text-base font-light leading-relaxed bg-gray-200">
                Gross Income
              </p>



              <th scope="col" class="px-6">AHF</th>
              <th scope="col" class="px-6">BRANCH</th>

            </tr>
          </thead>
          <tbody>

            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">

              <td class="whitespace-nowrap px-6">
                ${{ahf_annual_cap_data.grocss_income|intcomma}}
              </td>
              <td class="whitespace-nowrap px-6">
                ${{ahf_annual_cap_data.branch_gross_income|intcomma}}
              </td>

            </tr>
            <tr class="border-b border-neutral-200 dark:border-white/10">

              <td class="whitespace-nowrap px-6">Loans per year</td>
              <td class="whitespace-nowrap px-6">

                <form action="{% url 'change_loan' %}" method="post" class="flex flex-col">
                  {% csrf_token %}

                  <div class="relative mb-3" data-twe-input-wrapper-init>
                    <input type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      id="exampleFormControlInputText"
                       value="{{loan_per_year}}"
                       id="M9"
                       name="M9"
                        />
                 
                  </div>


                  <input type="submit" value="save"
                    class="bg-gray-500 text-white rounded-md font-bold hover:bg-blue-700" required />
                </form>

              </td>

            </tr>


            <tr class="border-b border-neutral-200 dark:border-white/10">

              <td class="whitespace-nowrap px-6">Loans per month</td>
              <td class="whitespace-nowrap px-6">
                {{loan_per_year|safe_divide}}
              </td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>