<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
  <div class="inline-block  py-2 sm:px-6 lg:px-8 text-center">
    <div class="overflow-hidden">
      <table
        class="border border-neutral-200 text-center text-sm font-light text-surface dark:border-white/10 dark:text-white">
        <thead class="border-b border-neutral-200 font-medium dark:border-white/10 text-center">
          

        </thead>
        <tbody>

          <tr class="flex justify-center">
            <th scope="col" class="px-6 py-4">Gross Income</th>
          </tr>


          <tr class="flex justify-center">
            <td scope="col" class="px-6 py-4">
              <p class="font-bold">
                AHF
              </p>

            </td>
            <td scope="col" class="px-6 py-4 font-bold">Branch</td>

          </tr>

          <tr class="flex justify-center">
            <td scope="col" class="px-6 py-4">
              <p>
                ${{ahf_annual_cap_data.grocss_income|intcomma}}
                
              </p>


            </td>
            <td scope="col" class="px-6 py-4 font-bold">

              <p>
                ${{ahf_annual_cap_data.branch_gross_income|intcomma}}

              </p>
            </td>

          </tr>

          <tr class="flex justify-center">
            <td scope="col" class="px-6 py-4">
              <p>
                {{ahf_amount}}%
              </p>

            </td>
            <td scope="col" class="px-6 py-4 font-bold">

              <p>
                {{branch_amount}}%
              </p>
            </td>

          </tr>


          <tr class="flex justify-center">
            <td scope="col" class="px-6 py-4">
              <p class="font-bold">
                Loans per year
              </p>

            </td>
            <td scope="col" class="px-6 py-4 font-bold">

              <p>
                {{loan_break_point.loand_per_year}} 
              
                <form action="{% url 'change_loan' %}" method="post">
                  {% csrf_token %}
                   <input type="Number" value="{{loan_break_point.loand_per_year}}" name="M9"  id="M9" required/>
               
              
              </p>
            </td>

          </tr>



          <tr class="flex justify-center">
            <td scope="col" class="px-6 py-4">


              <p class="font-bold">
                Loans per month
              </p>

            </td>
            <td scope="col" class="px-6 py-4 font-bold">
              <p>
              
               
                   <input type="Number" placeholder="{{loan_break_point.loand_per_year}}" name="M9"  id="M9" required/>
                   <input type="submit" value="save" />
                </form>
              </p>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


































<nav class="relative flex  flex-wrap bg-zinc-50 py-2 shadow-dark-mild dark:bg-neutral-700 lg:py-4 w-3/4">
  <div class="flex flex-wrap  justify-between px-3">
      <span class="ms-2 text-xl text-black dark:text-white">
          <h6 class="mr-3 mb-2 mt-0 text-base font-medium leading-tight text-primary">
              Above ${{loan_break_point|intcomma}}
          </h6>
      </span>
      <div>
          <h6 class="mt-0 text-base font-medium leading-tight text-primary max-w-[calc(100%-3em)]">
              Single Loan Branch Commission
          </h6>
      </div>
  </div>
</nav>










<!-- comp plan table -->
 <div id="container" class="flex items-center">
  {% include 'includes/comp_plan_table.html' %}

  <div style="display: flex;justify-content:space-around;">
    {% include 'includes/ahf_annual_cap.html' %}
    <div class="ml-8">
      {% include 'includes/gross_income.html' %}

    </div>
    
  </div>

</div>






































<tr class="border-b border-neutral-200 dark:border-white/10">

            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="D8">
                {% if 100 < bps %} 100 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="E8">cell</td>
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="F8">Cell</td>
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="G8">Cell</td>

        </tr>
        <tr class="border-b border-neutral-200 dark:border-white/10">

            <td class="text-center whitespace-nowrap px-6 py-4" id="D9">


                {% if 125 < bps %} 125 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="E9">33</td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="F9">Cell</td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="G9">Cell</td>

        </tr>


        <tr class="border-b border-neutral-200 dark:border-white/10 ">

            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="D10">


                {% if 150 < bps %} 150 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="E10">555</td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="F10">Cell</td>
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="G10">Cell</td>

        </tr>


        <tr class="border-b border-neutral-200 dark:border-white/10">

            <td class="text-center whitespace-nowrap px-6 py-4 font-bold" id="D11">


                {% if 175 < bps %} 175 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-6 py-4 font-bold" id="E11"></td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="F11">Cell</td>
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="G11">Cell</td>

        </tr>

        <tr class="border-b border-neutral-200 dark:border-white/10">

            <td class="text-center whitespace-nowrap px-6 py-4" id="D12">


                {% if 200 < bps %} 200 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="E12"></td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="F12">Cell</td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="G12">Cell</td>

        </tr>



        <tr class="border-b border-neutral-200 dark:border-white/10">
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="D13">
                {% if 225 < bps %} 225 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="E13"></td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="F13">Cell</td>
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="G13">Cell</td>
        </tr>

        <tr class="border-b border-neutral-200 dark:border-white/10 ">
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="D14">
                {% if 250 < bps %} 250 {% else %} 0 {% endif %} </td>
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="E14"></td>
            <td class="text-center whitespace-nowrap px-6 py-4" id="F14">Cell</td>
            <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="G14">Cell</td>
        </tr>





<script>
    const row = `
    <tr class="border-b border-neutral-200 dark:border-white/10">

        <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="D{{row}}" >
            
        <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="E6" >
           
    </td>
        <td class="text-center whitespace-nowrap px-6 py-4" id="F7">cell</td>
        <td class="text-center whitespace-nowrap px-6 py-4  font-bold" id="G7"></td>

    </tr>


    `
    const table = document.getElementById("table")


    const row_counter  = JSON.parse("{{rows_counter}}");
    const rows  = JSON.parse("{{rows}}");
   

    for(let index of row_counter) {
        console.log(index," index")
                        // Step 2: Create a new row element
                var newRow = document.createElement("tr");
                newRow.classList.add("border-b")
                newRow.classList.add("border-neutral-200")
                newRow.classList.add("dark:border-white/10")


                // Step 3: Create the cells and their content
                var cell1 = document.createElement("td");
                cell1.innerText = `${rows[index]}`;

                cell1.classList.add("text-center")
                cell1.classList.add("whitespace-nowrap")
                cell1.setAttribute("id", `E${index + 7}`);
            

                var cell2 = document.createElement("td");
                cell2.setAttribute("id",`E${index + 7}`)
                cell2.innerText == ` $\ ${(Number.parseFloat("{{gci}}") / Number.parseFloat(`D${index + 7}`) * 10000).toLocaleString()}`
                cell2.classList.add("text-center")
                cell2.classList.add("whitespace-nowrap")

                var cell3 = document.createElement("td");
                cell3.innerText = "Cell 1 content";
                cell3.setAttribute("id",`F${index + 7}`)

                var cell4 = document.createElement("td");
                cell4.innerText = "Cell 2 content";
                cell4.setAttribute("id",`G${index + 7}`)


                newRow.appendChild(cell1);
                newRow.appendChild(cell2);

                newRow.appendChild(cell3);
                newRow.appendChild(cell4);
                // Step 5: Append the row to the table
                table.appendChild(newRow);
        }
    
</script>
// for loan above limit
// bps
const D7 = document.getElementById('D7').innerHTML
const E5 = "{{gci}}"
const E6 = document.getElementById('E6')
if (Number.parseFloat(D7) > 0) {
  E6.innerHTML = ` $\ ${(Number.parseFloat(E5) / Number.parseFloat(D7) * 10000).toLocaleString()}`
} else {
  E6.innerHTML = 0
}

// bps
const D8 = document.getElementById('D8').innerHTML
const E8 = document.getElementById('E8')
if (Number.parseFloat(D8) > 0) {
  E8.innerHTML = ` $\ ${(Number.parseFloat(E5) / Number.parseFloat(D8) * 10000).toLocaleString()}`
} else {
  E8.innerHTML = 0
}

// bps
const D9 = document.getElementById('D9').innerHTML
const E9 = document.getElementById('E9')
if (Number.parseFloat(D9) > 0) {
  E9.innerHTML = ` $\ ${(Number.parseFloat(E5) / Number.parseFloat(D9) * 10000).toLocaleString()}`
} else {
  E9.innerHTML = 0
}

// bps
const D10 = document.getElementById('D10').innerHTML
const E10 = document.getElementById('E10')
if (Number.parseFloat(D10) > 0) {
  E10.innerHTML = ` $\  ${(Math.round(Number.parseFloat(E5) / Number.parseFloat(D10) * 10000)).toLocaleString()}`
} else {
  E10.innerHTML = 0
}

// bps
const D11 = document.getElementById('D11').innerHTML


// loan amount
const E11 = document.getElementById('E11')
if (Number.parseFloat(D11) > 0) {
  // loan amount
  E11.innerHTML = ` $\  ${(Math.round(Number.parseFloat(E5) / Number.parseFloat(D11) * 10000)).toLocaleString()}`
} else {
  // loan amount
  E11.innerHTML = 0
}


// bps
const D12 = document.getElementById('D12').innerHTML
// loan amount
const E12 = document.getElementById('E12')
if (Number.parseFloat(D12) > 0) {
  // loan amount
  E12.innerHTML = ` $\  ${(Math.round(Number.parseFloat(E5) / Number.parseFloat(D12) * 10000)).toLocaleString()}`
} else {
  // loan amount
  E12.innerHTML = 0
}


// bps
const D13 = document.getElementById('D13').innerHTML
// loan amount
const E13 = document.getElementById('E13')
if (Number.parseFloat(D13) > 0) {
  // loan amount
  E13.innerHTML = ` $\  ${(Math.round(Number.parseFloat(E5) / Number.parseFloat(D13) * 10000)).toLocaleString()}`
} else {
  // loan amount
  E13.innerHTML = 0
}



// bps
const D14 = document.getElementById('D14').innerHTML
// loan amount
const E14 = document.getElementById('E14')
if (Number.parseFloat(D14) > 0) {
  // loan amount
  E14.innerHTML = ` $\  ${(Math.round(Number.parseFloat(E5) / Number.parseFloat(D14) * 10000)).toLocaleString()}`
} else {
  // loan amount
  E14.innerHTML = 0
}




const ahf_commission_amount = Number.parseFloat("{{ahf_commission_amount}}")
// AHF
const F7 = document.getElementById("F7")
F7.innerText = `${Math.round(D7 * ahf_commission_amount)}`

// AHF
const F8 = document.getElementById("F8")
F8.innerText = `${Math.round(D8 * ahf_commission_amount)}`

const F9 = document.getElementById("F9")
F9.innerText = `${Math.round(D9 * ahf_commission_amount)}`

// AHF
const F10 = document.getElementById("F10")
F10.innerText = `${Math.round(D10 * ahf_commission_amount)}`

// AHF
const F11 = document.getElementById("F11")
F11.innerText = `${Math.round(D11 * ahf_commission_amount)}`

// AHF
const F12 = document.getElementById("F12")
F12.innerText = `${Math.round(D12 * ahf_commission_amount)}`
// AHF
const F13 = document.getElementById("F13")
F13.innerText = `${Math.round(D13 * ahf_commission_amount)}`

// AHF
const F14 = document.getElementById("F14")
F14.innerText = `${Math.round(D14 * ahf_commission_amount)}`









// branch logic
const branch_commission_amount = Number.parseFloat("{{branch_commission_amount}}")
const G7 = document.getElementById("G7")
G7.innerText = `${Math.round(D7 * branch_commission_amount)}`

// Branch
const G8 = document.getElementById("G8")
G8.innerText = `${Math.round(D8 * branch_commission_amount)}`

// Branch
const G9 = document.getElementById("G9")
G9.innerText = `${Math.round(D9 * branch_commission_amount)}`

// Branch
const G10 = document.getElementById("G10")
G10.innerText = `${Math.round(D10 * branch_commission_amount)}`

// Branch
const G11 = document.getElementById("G11")
G11.innerText = `${Math.round(D11 * branch_commission_amount)}`

// Branch
const G12 = document.getElementById("G12")
G12.innerText = `${D12 * branch_commission_amount}`

// Branch
const G13 = document.getElementById("G13")
G13.innerText = `${D13 * branch_commission_amount}`

// Branch
const G14 = document.getElementById("G14")
G14.innerText = `${D14 * branch_commission_amount}`

// for loan below limit
// gci=   (comp_plan.Percentage * 100) * loan_break_point.loan_break_point / 10000 + comp_plan.Flat_Fee
// max = $B$7
//=IF($E$21*D23/10000+$B$3 < $B$7,$E$21*D23/10000+$B$3,$B$7)

const loan_below_limits_raw = "{{loan_below_limits}}"
const MAX_GCI = Number.parseFloat("{{comp_plan_for_lower_limit.MAX_GCI}}")

const loan_below_limits = JSON.parse(loan_below_limits_raw);
const comp_plan_percentage = Number.parseFloat("{{comp_plan_for_lower_limit.Percentage}}")
