{% load humanize %}
{% load safe_divide %}


<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center text-sm font-light text-surface dark:text-white  border-collapse border">

          <tr class="bg-gray-200">

            <th scope="col" class="flex w-auto">
              Employee withholding
            </th>
            <th scope="col" class="font-bold">

            </th>

            <th scope="col" class="font-bold">

            </th>

            <th scope="col" class="font-bold">

            </th>
            <th scope="col" colspan="2" class="px-1">
            </th>
            <th scope="col" colspan="2" class="px-1">
            </th>


            <!-- R column -->
            <th scope="col" class="">

            </th>



            <!-- R column -->
            <th scope="col" class="">

            </th>
          </tr>

          <tbody>
       

            {% for column in ewh_columns%}

            <tr class="border-b border-neutral-200 dark:border-white/10">
              <td class="font-bold whitespace-nowrap justify-end">
                {{column|split_word}}


                {% if column == 'Social_Security' %}
              <td class="whitespace-nowrap">
              {{w2_branch_yearly_gross_income_data.calculate_social_security|floatformat:"2"|intcomma}}
              </td>

              {% elif column == 'Medicare'%}
              <td class="whitespace-nowrap">

                {{w2_branch_yearly_gross_income_data.calculate_Medicare|floatformat:"2"|intcomma}}
              </td>
              {% elif column == 'CA_disability'%}
              <td class="whitespace-nowrap">
                {{w2_branch_yearly_gross_income_data.calculate_CA_Disability|floatformat:"2"}}
              </td>

              {% else %}
              <td class="whitespace-nowrap">
                {{bplr_total|floatformat:"2"|intcomma}}
              </td>
              {% endif %}
              <td>
               
              </td>
              <td>

              </td>


              {% if column != 'total'%}
              <td class="pl-2">
                <form action="{% url 'W2branchYearlyGross:control_Q_value_for_employee_with_holding' %}" method="post">
                  {% csrf_token %}
                  <input type="text" value="{{ewl_dict|dict_get:column}}" id="{{column}}" name="value" />
                  <input type="hidden" name="column" value="{{column}}" />

                </form>
              </td>
              {% else %}


              <td class="flex">

              </td>

              {% endif %}



              <td class="pl-2">

                {% if column != 'total'%}
                <form action="{% url 'W2branchYearlyGross:control_R_value_branch_payroll_liabilities' %}" method="post">
                  {% csrf_token %}

                  {% if bplqr|dict_get:column %}
                  <input type="text" value="{{bplqr|dict_get:column}}" id="{{column}}" name="value" />

                  {% else %}
                  <input type="text" value="not capped" id="{{column}}" name="value" />

                  {% endif %}
                  <input type="hidden" name="column" value="{{column}}">

                </form>

                {% else %}
                <h1 class="font-bold">


                  <!-- xx  {{bplr_total}} -->

                </h1>

                {% endif %}

              </td>

              {% if column != 'total' %}
              <td class="pr-4">
                capped
              </td>

              <td class="pr-4">
               {{bplqr|dict_get:column}}
              </td>

              {% else %}
              <td class="pr-4">

              </td>

              <td class="pr-4">

              </td>

              {% endif %}



            </tr>


            {% endfor %}


            <tr class="w-full border-b border-neutral-200 dark:border-white/10 bg-gray-200">
              <td class="whitespace-nowrap font-medium justify-end ">
                <p class="font-bold"> Net paycheck </p>

              </td>
              <td class="font-bold whitespace-nowrap">
              ${{net_paycheck_for_employee_with_holdings_total|floatformat:'2'|intcomma}}
              </td>

              <td class="flex whitespace-nowrap">

              </td>


              <td class="whitespace-nowrap">

              </td>

              <td class="whitespace-nowrap">

              </td>
              <td class="flex font-bold whitespace-nowrap">
                {{net_paycheck_for_employee_with_holdings_total|floatformat:'2'|intcomma}}
              </td>


              <td class="whitespace-nowrap">
                capped
              </td>

              <td class="whitespace-nowrap">

              </td>



              <td class="whitespace-nowrap">

              </td>
            </tr>




            <!-- Branch payroll liabilities dynamic data -->
            <tr class="border-b border-neutral-200 dark:border-white/10">
              <td class="whitespace-nowrap font-medium justify-end ">
                <p class="font-bold">Branch payroll liabilities</p>

              </td>
              <td class="whitespace-nowrap">

              </td>
            </tr>



            {% for column in bpl_columns%}

            <tr class="border-b border-neutral-200 dark:border-white/10">
              <td class="flex font-bold whitespace-nowrap">
                {{column|split_word|title}}


                {% if column == 'Social_Security' %}
              <td class="whitespace-nowrap">
               {{w2_branch_yearly_gross_income_data.calculate_social_security|floatformat:'2'|intcomma}}

              </td>

              {% elif column == 'Medicare' %}

              <td class="whitespace-nowrap">
                {{w2_branch_yearly_gross_income_data.calculate_Medicare|floatformat:'2'|intcomma}}
              </td>



              {% elif column == 'Fed_Unemploy'%}
              <td class="whitespace-nowrap">
                {{w2_branch_yearly_gross_income_data.calculate_fed_un_employ_payroll_liabilities|floatformat:"2"|intcomma}}
              </td>

              {% elif column == 'CA_Unemployment'%}
              <td class="whitespace-nowrap">
                {{w2_branch_payroll_liabilities_data.CA_Unemployment_payroll_liabilities|floatformat:"2"|intcomma}}
              </td>

              {% elif column == 'Employment_Training_Tax'%}
              <td class="whitespace-nowrap">
                {{calculate_ett_num|floatformat:"2"|intcomma}}

              </td>

             

              {% elif column == 'total'%}
              <td class="whitespace-nowrap">
                {{branch_payroll_liabilities_total|floatformat:'2'|intcomma}}
              </td>

          

              {% else %}
              <td class="font-bold whitespace-nowrap"> {{bpl|dict_get:column|floatformat:'2'|intcomma}}</td>

              {% endif %}
             
              <td>

              </td>

           
            {% if column != 'total'%}
              <td class="pl-2">
            
                <form action="{% url 'W2branchYearlyGross:control_Q_value_branch_payroll_liabilities' %}" method="post">
                  {% csrf_token %}

                  <input type="text" value="{{bplq_dict|dict_get:column}}" id="{{column}}" name="value" />

                  <input type="hidden" name="column" value="{{column}}" />

                </form>
              </td>
                {% else %}

              <td class="flex">
                  {{branch_payroll_liabilities_percentate_total}}
              </td>

                {% endif %}

            

              <td class="pl-2">

                {% if column != 'total'%}
                <form action="{% url 'W2branchYearlyGross:control_R_value_branch_payroll_liabilities' %}" method="post">
                  {% csrf_token %}

                  <input type="text" value="{{bplqr|dict_get:column}}" id="{{column}}" name="value" />
                  <input type="hidden" name="column" value="{{column}}">

                </form>

                {% else %}
                <h1 class="font-bold">

              <!--  {{bplr_total}} -->

                </h1>

                {% endif %}

              </td>

              <td class="pr-4">
                capped
              </td>

              <td class="pr-4">
          
                ${{bplqr|dict_get:column|mul:10|floatformat:'2'|intcomma}}
              </td>
            </tr>

            {% endfor %}

            {% include 'includes/blank_table_row.html' %}
            {% include 'includes/blank_table_row.html' %}

            {% include 'W2branchYearlyGross/summary.html' %}


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>