{% load humanize %}


<style>
    .justify-end {
        display:flex;
        justify-content: left;
        width: 100px;
    }


</style>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table
            class="min-w-full text-center text-sm font-light text-surface dark:text-white">
            <thead
              class="border-b border-neutral-200 font-medium dark:border-white/10">

              <tr class="bg-white-200" style="height:20px;margin-bottom: 50px;">
                <th scope="col" class="">
                   
                </th>
                <th scope="col" class=""></th>
                <th scope="col" class=""></th>
                <th scope="col" class=""></th>
                <th scope="col" class=""></th>
              </tr>


              <tr class="bg-gray-200">
                <th scope="col" class="w-auto justify-end">
                    W2  Branch Yearly Gross Income
                </th>
                <th scope="col" class=""> 
                    ${{ahf_annual_cap_data.branch_gross_income|intcomma}}
                </th>
                <th scope="col" class="">

                </th>
                <th scope="col" class="">
                    Number of Loans
                </th>
                <th scope="col" class="">
                    {{loan_per_year}}
                </th>
              </tr>
            </thead>


            <tbody>
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="font-bold whitespace-nowrap font-medium justify-end">
                    Education and training
                </td>
                <td class="whitespace-nowrap"></td>
              </tr>

              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="pl-4 font-small whitespace-nowrap font-medium justify-end ">
                    20/20 VISION PRO COACHING
                </td>
                <td class="whitespace-nowrap">$3,600 </td>
              </tr>
           

              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="pl-4 whitespace-nowrap font-medium justify-end ">
                    NMLS Annual CE
                </td>
                <td class="whitespace-nowrap"> $100 </td>
              </tr>


              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="font-bold whitespace-nowrap font-medium justify-end ">
                    Licensing fees
                </td>
                <td class="whitespace-nowrap">$30 </td>
              </tr>



              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                    NMLS Annual renewal fee for MLOs
                </td>
                <td class="whitespace-nowrap">$300</td>
              </tr>
           


              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                    MLO Annual Renewal Fee
                </td>
                <td class="whitespace-nowrap">$2,364 </td>
              </tr>

              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                    Advertising & Marketing
                </td>
                <td class="whitespace-nowrap">$7,200 </td>
              </tr>
           
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                    Agency fee
                </td>
                <td class="whitespace-nowrap">  </td>
              </tr>


              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                    Facebook
                </td>
                <td class="whitespace-nowrap">  $7,200 </td>
              </tr>
           
           
            
            <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                    Google
                </td>
                <td class="whitespace-nowrap">$7,200</td>
              </tr>
           

              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                    Total expenses

                </td>
                <td class="whitespace-nowrap">$20,794 </td>
              </tr>
           
           
         
             
              
            
           
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

 

