{% load humanize %}
{% load safe_divide %}

<style>
  .justify-end {
    display: flex;
    justify-content: left;
    width: 100px;
  }
</style>
<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center text-sm font-light text-surface dark:text-white">
          <thead class="border-b border-neutral-200 font-medium dark:border-white/10">

            <tr class="bg-white-200" style="height:20px;margin-bottom: 50px;">
              <th scope="col" class="">

              </th>
              <th scope="col" class=""></th>
              <th scope="col" class=""></th>
              <th scope="col" class=""></th>
              <th scope="col" class=""></th>
            </tr>


            <tr class="bg-gray-200">
              <th scope="col" class="w-auto justify-end">
                W2 Branch Yearly Gross Income
              </th>
              <th scope="col" class="">
                ${{ahf_annual_cap_data.branch_gross_income|intcomma}}
              </th>
              <th scope="col" class="">

              </th>
              <th scope="col" class="">
                Number of Loans
              </th>
              <th scope="col" class="">
                {{loan_per_year}}
              </th>
            </tr>
          </thead>


          <tbody>

            {% for category in categories %}
            <tr class="flex font-bold border-b border-neutral-200 dark:border-white/10">
              <td>
                <p>
                  {{category}}
                </p>
              </td>

              <td>
                <p>
                
                </p>
              </td>
            </tr>
            
            {% for expense in category.expense.all %}

            <tr class="flex space-between px-5 min-w-full text-center text-sm font-light text-surface dark:text-white"
              style="flex-direction: row;justify-content:space-between;">

              <td class="whitespace-nowrap justify-end">
                {{expense|intcomma}}

              </td>

              <td class="flex flex-start px-2">
                {{expense.expense|intcomma}}
              </td>
            </tr>
            {% endfor %}
          {% endfor %}


            <tr class="border-b border-neutral-200 dark:border-white/10">
              <td class="whitespace-nowrap font-medium justify-end ">
                <p class="font-bold"> Total Expense </p>

              </td>
              <td class="whitespace-nowrap">
                <p> {{total_expense|intcomma}}
                <p>
              </td>
            </tr>


            <tr class="border-b border-neutral-200 dark:border-white/10">
              <td class="whitespace-nowrap font-medium justify-end ">
                <p class="font-bold"> Taxable Gross Payroll </p>

              </td>
              <td class="whitespace-nowrap">
                <p> {{total_expense|intcomma}}
                <p>
              </td>


              <td class="whitespace-nowrap">
                <p>
                  21,422
                <p>
              </td>

              <td class="whitespace-nowrap">
                <form action="">
                  <p>
                    <div class="relative mb-3" data-twe-input-wrapper-init>
                      <input type="text"
                        class="mx-4 peer block min-h-[auto]  rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0 text-center"
                        id="exampleFormControlInputText"
                         value="96.27"
                         id="Q22"
                         name="Q22"
                          />
                  <p>
                </form>
               
              </td>

              <td class="whitespace-nowrap font-bold" colspan="2">
                <p>
                  1785 per month
                <p>
              </td>
            </tr>




            {% for column in ewh_columns%}

            <tr class="border-b border-neutral-200 dark:border-white/10">
              <td class="whitespace-nowrap justify-end">
                {{column}}

              </td>
              <td class="whitespace-nowrap">{{ewh|dict_get:column|intcomma}}</td>
            </tr>

            {% endfor %}


            <tr class="border-b border-neutral-200 dark:border-white/10 bg-gray-500">
              <td class="whitespace-nowrap font-medium justify-end ">
                <p class="font-bold"> Net paycheck </p>

              </td>
              <td class="whitespace-nowrap">
                <p> {{total_expense|intcomma}}
                <p>
              </td>
            </tr>


            <tr class="border-b border-neutral-200 dark:border-white/10">
              <td class="whitespace-nowrap font-medium justify-end ">
                <p class="font-bold">Branch payroll liabilities</p>

              </td>
              <td class="whitespace-nowrap">

              </td>
            </tr>



            {% for column in bpl_columns%}

            <tr class="border-b border-neutral-200 dark:border-white/10">
              <td class="whitespace-nowrap justify-end">
                {{column|split_word}}

            
              {% if column == 'Social_Security' %}
                <td class="whitespace-nowrap"> {{w2_branch_yearly_gross_income_data.social_security|intcomma}}</td>

              {% elif column == 'Fed_Unemploy'%}
              <td class="whitespace-nowrap"> {{w2_branch_yearly_gross_income_data.calculate_fed_un_employ|intcomma}}</td>

              {% else %}
              <td class="whitespace-nowrap"> {{bpl|dict_get:column|intcomma}}</td>
              {% endif %}
            </tr>

            {% endfor %}


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

