{% load humanize %}
{% load safe_divide %}

<style>
    .justify-end {
        display:flex;
        justify-content: left;
        width: 100px;
    }


</style>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table
            class="min-w-full text-center text-sm font-light text-surface dark:text-white"
            >
            <thead
              class="border-b border-neutral-200 font-medium dark:border-white/10">

              <tr class="bg-white-200" style="height:20px;margin-bottom: 50px;">
                <th scope="col" class="">
                   
                </th>
                <th scope="col" class=""></th>
                <th scope="col" class=""></th>
                <th scope="col" class=""></th>
                <th scope="col" class=""></th>
              </tr>


              <tr class="bg-gray-200">
                <th scope="col" class="w-auto justify-end">
                    W2  Branch Yearly Gross Income
                </th>
                <th scope="col" class=""> 
                    ${{ahf_annual_cap_data.branch_gross_income|intcomma}}
                </th>
                <th scope="col" class="">

                </th>
                <th scope="col" class="">
                    Number of Loans
                </th>
                <th scope="col" class="">
                    {{loan_per_year}}
                </th>
              </tr>
            </thead>


            <tbody>
                

            {% for category in categories %}
            <tr  
            class="flex font-bold min-w-full text-center text-sm text-surface dark:text-white"
             >
                <td>
                  {{category}}

            </td>

            </tr>

             {% for expense in category.expense.all %}

              <tr  
            class="flex space-around px-5 min-w-full text-center text-sm font-light text-surface dark:text-white"

            style="flex-direction: row; justify-content: space-between;" 
             >
                <td class="whitespace-nowrap justify-end">
                  {{expense|intcomma}}

                </td>

                  <td class="whitespace-nowrap">
                  {{expense.expense|intcomma}}

                </td>
            </tr>


            {% endfor %}


            {% endfor %}


              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                 <p class="font-bold"> Total Expense </p>

                </td>
                <td class="whitespace-nowrap">
                       <p>  {{total_expense|intcomma}} <p>
                 </td>
              </tr>


              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                 <p class="font-bold"> Taxable Gross Payroll </p>

                </td>
                <td class="whitespace-nowrap">
                       <p>  {{total_expense|intcomma}} <p>
                 </td>
              </tr>


             

              {% for column in  ewh_columns%}
             
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap justify-end">
                 {{column}}
          
                </td>
                <td class="whitespace-nowrap">{{ewh|dict_get:column|intcomma}}</td>
              </tr>

              {% endfor %}


              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                 <p class="font-bold"> Net payback </p>

                </td>
                <td class="whitespace-nowrap">
                       <p>  {{total_expense|intcomma}} <p>
                 </td>
              </tr>


              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap font-medium justify-end ">
                 <p class="font-bold">Branch payroll liabilities</p>

                </td>
                <td class="whitespace-nowrap">
                    
                 </td>
              </tr>



              {% for column in  bpl_columns%}
             
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap justify-end">
                 {{column}}
          
                </td>
                <td class="whitespace-nowrap">{{bpl|dict_get:column|intcomma}}</td>
              </tr>

              {% endfor %}
            

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    const employee_with_holding = document.getElementById("Social_Security")

    var myArray = JSON.parse(String.parse(('{{ewh_columns}}')));
    


console.log("Hello world");
 
  


  </script>

 


