{% extends 'spread_sheet_base.html'%}



{%block style%}

<style>

  body {
    background-image: linear-gradient(to right, #dddddd 1px, transparent 1px),
      linear-gradient(to bottom, #dddddd 1px, transparent 1px);
    background-size: 20px 20px;
  }




  .middle-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-flow: column;
    grid-gap: 10px;
    background-color: red;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
  }

  .w2-branch-grid-container {
    display: grid;
    grid-template-columns: 0.5fr auto;
  }

  /* Styles for the grid items */
  .comission-grid-item,
  .small-grid-item,
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  /* Responsive styles for small screens */
  @media (max-width: 480px) {

    /* Adjust the middle-grid-container for small screens */
    .middle-grid-container {
      grid-template-columns: auto;
      grid-auto-flow: row;
    }

    /* Adjust the grid-container for small screens */
    .grid-container {
      grid-template-columns: auto auto auto;
    }

    /* Adjust the w2-branch-grid-container for small screens */
    .w2-branch-grid-container {
      grid-template-columns: auto;
    }

    /* Adjust the grid items for small screens */
    .comission-grid-item,
    .small-grid-item,
    .grid-item {
      font-size: 20px;
    }
  }
</style>
{%endblock%}
{%block  content %}

<div id="toast-simple" class="flex items-center w-full max-w-xs p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow dark:text-gray-400 dark:divide-gray-700 dark:bg-gray-800" role="alert">
  <svg class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
  </svg>
  <div class="ps-4 text-sm font-normal">Message sent successfully.</div>
</div>

  <div style="width:100%;display: flex;justify-content:flex-end;margin:auto;">
    <h1 class="font-bold">V{{version}}</h1>
  </div>

  <div class="grid-container">
    <div class="grid-item">
      {% include 'includes/comp_plan_table.html'%}
    </div>
  </div>



  <div class="flex flex-row">

    <div class="grid-container">

      <div class="grid-item w-full">
        {% include 'includes/above_loan_break_points2.html' %}
      </div>

      <div class="small-grid-item">
        {% include 'includes/ahf_annual_cap.html' %}
      </div>

      <div class="small-grid-item">
        {% include 'includes/gross_income.html' %}
      </div>

      <div class="grid-item">
        {% include 'includes/lower_loan_break_points.html' %}
      </div>

      <div class="grid-item">
        {% include 'includes/annual_branch_ahf_cap.html' %}
      </div>

    </div>

    <div class="grid-container">



      <div class="grid-item">
        {% include 'includes/W2_Branch_Yearly_Gross_Income.html' %}
      </div>

      <div class="small-grid-item">
        {% include 'RevenueShare/table.html' %}
      </div>

      <div class="small-grid-item">
        {% include 'RevenueShare/passive_income.html' %}
      </div>



    </div>

  </div>



  <div class="grid-container">


  </div>


  </div>


 
    console.log("jquery version = ",$)
  </script>

  <script>

    const E5 = "{{gci}}"
    const E6 = document.getElementById('E6')

    const loan_below_limits_raw = "{{loan_below_limits}}"
    const MAX_GCI = Number.parseFloat("{{comp_plan_for_lower_limit.MAX_GCI}}")

    const loan_below_limits = JSON.parse(loan_below_limits_raw);
    const comp_plan_percentage = Number.parseFloat("{{comp_plan_for_lower_limit.Percentage}}")

    let counter = 0


    // Table data for loan below loan limit
    let size_of_loan_below_limits = loan_below_limits.length
    for (let num of loan_below_limits) {
      const D2 = document.getElementById(`D2_${num}`)
      const F2 = document.getElementById(`F2_${num}`)
      const H2 = document.getElementById(`H2_${num}`)
      const row = document.getElementById(`below_row_${num}`)
      let branch_share = 0
      let ahf_share = 0

      const gci_result = (comp_plan_percentage * 100) * num / 10000 + Number.parseFloat("{{comp_plan_for_lower_limit.Flat_Fee}}")
      const branch_amount = (Number.parseFloat("{{branch_amount}}") / 100)//Number.parseFloat("{{branch_commission_amount}}")
      const ahf_amount = 1 - (Number.parseFloat("{{branch_amount}}") / 100)

      if (counter % 2 == 0) {
        row.classList.remove("bg-gray-200")
      }

      if (counter == 0) {
        row.classList.add("font-bold")
      }
      D2.innerText = (gci_result).toLocaleString()
      branch_share = (gci_result * branch_amount)
      ahf_share = (gci_result * ahf_amount)

      F2.innerText = ahf_share.toLocaleString()
      H2.innerHTML = `<p>${branch_share.toLocaleString()}</p>`

      if (counter == size_of_loan_below_limits - 1) {
        D2.innerText = "{{comp_plan_for_lower_limit.FF_MIN_LOAN}}"

      }



      counter += 1

    }


  </script>
{%endblock%}