{% load humanize %}
{% load safe_divide %}


<div class="flex flex-col">


</div>

<div class="mb-4">
  <div>
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-left text-sm font-light text-surface dark:text-white">
            <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
              <tr>
                <th class="mb-0 mt-0 text-base font-light leading-relaxed  py-6" colspan="3">
              
                </th>
              </tr>
              <tr>
                <th class="mb-0 mt-0 text-base font-light leading-relaxed py-6" colspan="3">
                
                </th>
              </tr>
              <tr>
                <th class="mb-0 mt-0 text-base font-light leading-relaxed py-6" colspan="3">
       
                </th>
              </tr>

              <tr>
                <th class="mb-0 mt-0 text-base font-light leading-relaxed py-2" colspan="3">
       
                </th>
              </tr>



              <tr>
                <th class="mb-0 mt-0 text-base font-light leading-relaxed py-6" colspan="3">
              
                </th>
              </tr>
              <tr>
                <th class="mb-0 mt-0 text-base font-light leading-relaxed py-6" colspan="3">
                
                </th>
              </tr>
              <tr>
                <th class="mb-0 mt-0 text-base font-light leading-relaxed  py-6" colspan="3">
       
                </th>
              </tr>
              <tr>
                <th class="mb-0 mt-0 text-base font-light leading-relaxed bg-gray-200 py-6" colspan="3">
                  Revenue share passive income examples
                  5X5 Example
                </th>
              </tr>
  
              <tr>
               <th  class="whitespace-nowrap px-6 py-4">
                  Level
               </th>
               <th  class="whitespace-nowrap px-6 py-4">
                  MLOS
               </th>
               <th  class="whitespace-nowrap px-6 py-4">
                  Full capper
               </th>
              </tr>
            </thead>
            <tbody>
              {% for revenue in revenues.all_revenues%}

              {% if revenue.level ==  1 %}
              <tr class="bg-red-200">
                  <td class="whitespace-nowrap px-6 py-4">
                      1
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                      5
                  </td>

               
      
                  <td class="whitespace-nowrap px-6 py-4" id="fullcapper_5">
                    ${{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:100|mul:revenue.annual_revenue_share.percentage|div:200|mul:5}}

                  </td>

                 
      
              </tr>
  
              <tr style="background-color: rgb(64, 156, 30);">
                  <td class="whitespace-nowrap px-6 py-4">
                      2
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                      25
                  </td>
                  <td class="whitespace-nowrap px-6 py-4" >
                    ${{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:100|mul:revenues.first_revenues.annual_revenue_share.percentage|div:200|mul:25}}  
                  </td>

            
      
              </tr>
  
              <tr>
                  <td class="whitespace-nowrap px-6 font-bold">
                      Total
                  </td>
                  <td class="whitespace-nowrap px-6">
                      30
                  </td>
      
                  <td class="whitespace-nowrap px-6">
                      $16,156
                  </td>
      
              </tr>
  
              <tr>
                <td class="whitespace-nowrap px-6 font-bold" colspan="2">
                    AHF gross
                </td>
                
    
                <td class="whitespace-nowrap px-6">
                 
                   ${{ahf_annual_cap_data.test_branch_gross_income|mul:30}}
                </td>
    
            </tr>
  
            <tr>
              <td class="whitespace-nowrap px-6" colspan="2">
                Revenue share
              </td>
              
  
              <td class="whitespace-nowrap px-6">
                ${{ahf_annual_cap_data.test_branch_gross_income}}
              </td>
  
          </tr>
  
          <tr class="bg-gray-500">
            <td class="whitespace-nowrap px-6 font-bold" colspan="2">
              AHF net gross
            </td>
            
  
            <td class="whitespace-nowrap px-6">
              ${{ahf_annual_cap_data.test_branch_gross_income|mul:30}}
            </td>
  
        </tr>
        {% endif %}
        {% endfor %}
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

