{% load humanize %}
{% load safe_divide %}
<div class="flex flex-col" >
    <h2 class="mb-2 mt-0 text-4xl font-medium leading-tight text-primary">
        Revenue Share 
    </h2> 
   
    
    <p class="mb-4 mt-0 text-base font-light leading-relaxed">
        *AHF Adjusted Gross Commission Income (AGCI) 
      </p>



      <p class="mb-4 mt-0 text-base font-light leading-relaxed">
        Revenue Share is a percentage of revenue that agents earn for attracting
        agents who are generating revenue for the company.
      </p>



      <p class="mb-4 mt-0 text-base font-light leading-relaxed">
        Agents only earn revenue share income from the sales activity of productive
        agents they sponsor into the company
      </p>


      <p class="mb-4 mt-0 text-base font-light leading-relaxed">
        Agents earn based on adjusted gross commission income (AGCI) from the sales
        transaction closed by a personally sponsored capping agent and productive
        agents in their overall group.
      </p>

</div>


<div class="flex flex-col" style="min-width: 100vh;">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">


          <table
            class="min-w-full text-center text-sm font-light text-surface dark:text-white">
            
            <thead
            class="border-b border-neutral-200 font-medium dark:border-white/10">
            <tr>
              <th scope="col" class="px-6 py-4" colspan="5">
                AHF Adjusted Gross Commission Income (AGCI) 
              </th>
              <th scope="col" class="px-6 py-4">
                
              </th>


              <th scope="col" class="px-6 py-4">

              ${{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:100}}
               
              </th>

              <th scope="col" class="px-6 py-4">
                  
              </th>
              <th scope="col" class="px-6 py-4">
                
            </th>
              <th scope="col" class="px-6 py-4">
                
              </th>
            </tr>

            <tr>
                <th scope="col" class="px-6 py-4" colspan="5">
                AHF Gross Commission Share (GCI)  {{ahf_amount}}%
                </th>
                <th scope="col" class="px-6 py-4">
                    
                </th>

                <th scope="col" class="text-center px-6 py-4">
                  ${{ahf_annual_cap_data.test_branch_gross_income|intcomma}}
                </th>

                <th scope="col" class="px-6 py-4">
                  
              </th>
              <th scope="col" class="px-6 py-4">
                
            </th>
              <th scope="col" class="px-6 py-4">
                
              </th>
              </tr>
          </thead>
            
            <thead
              class="border-b border-neutral-200 font-medium dark:border-white/10 bg-gray-200">
              <tr>
                <th scope="col" class="px-6 py-4">Level</th>
                <th scope="col" class="px-6 py-4" colspan="2">Growth share</th>
                <th scope="col" class="px-6 py-4">MLOS</th>

                <th scope="col" class="px-6 py-4" colspan="2">Hyper growth share</th>
                <th scope="col" class="px-6 py-4" colspan="2">Annual Revenue share</th>
                <th scope="col" class="px-6 py-4">AHF Charity</th>

                <th scope="col" class="px-6 py-4">Recruiter</th>
              </tr>
            </thead>
            <tbody>


         

            {% for revenue in revenues.all_revenues%}

            {% if revenue.level == 1 %}
              <tr class="border-b border-neutral-200 dark:border-white/10 bg-red-100" >

            
                
                
                <td class="whitespace-nowrap px-6 py-4 font-medium">
                  {{revenue.level}}
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  {{revenue.growth_share.percentage}}%
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  {{revenue.growth_share.amount}}

                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  {{revenue.mlos.level}}+
                </td>

                <td class="whitespace-nowrap px-6 py-4 font-medium">
                  {{revenue.growth_share.amount}}

                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    {{revenue.annual_revenue_share.percentage}}%

                  </td>

                  <td class="whitespace-nowrap px-6 py-4 font-medium">
                    ${{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:100|mul:revenue.annual_revenue_share.percentage|div:100}}
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    ${{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:100|mul:revenue.annual_revenue_share.percentage|div:200}}
                  </td>
                  
                  <td class="whitespace-nowrap px-6 py-4"  id="top_right">
                    ${{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:100|mul:revenue.annual_revenue_share.percentage|div:200}}
                  </td>
                 

              </tr>

              {% else %}
              <tr class="border-b border-neutral-200 dark:border-white/10" id="level_{{revenue.level}}">

                <td class="whitespace-nowrap px-6 py-4 font-medium">
                  {{revenue.level}}
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  {{revenue.growth_share.percentage}}%
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  {{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:revenue.growth_share.percentage|floatformat:'2'}}
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                   {{revenue.mlos.level}}+
                </td>

                <td class="whitespace-nowrap px-6 py-4 font-medium">
                  {{revenue.annual_revenue_share.percentage|minus:revenue.growth_share.percentage}}%
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    {{revenue.annual_revenue_share.percentage}}%
                  </td>

                  <td class="whitespace-nowrap px-6 py-4 font-medium">
                    ${{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:100|mul:revenue.annual_revenue_share.percentage|div:100}}

                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    ${{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:100|mul:revenue.annual_revenue_share.percentage|div:200}}
                  </td>
                  
                  <td class="whitespace-nowrap px-6 py-4">
                    ${{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:100|mul:revenue.annual_revenue_share.percentage|div:200}}

                  </td>
                 

              </tr>

            {% endif %}

            {% endfor %}


            <tr class="border-b border-neutral-200 dark:border-white/10" id="level_{{revenue.level}}">

              <td class="whitespace-nowrap px-6 py-4 font-medium">
               
              </td>
              <td class="whitespace-nowrap px-6 py-4">  
              </td>
              <td class="whitespace-nowrap px-6 py-4">
              </td>
              <td class="whitespace-nowrap px-6 py-4">  
              </td>

              <td class="whitespace-nowrap px-6 py-4 font-medium">
              </td>
                <td class="whitespace-nowrap px-6 py-4">
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  {{revenues.total_all_revenue_share}}%
                </td>
                
                <td class="whitespace-nowrap px-6 py-4 font-medium" colspan="2">
                 ${{ahf_annual_cap_data.test_branch_gross_income|div:ahf_amount|mul:revenues.total_all_revenue_share|intcomma}}

                </td>
               
            </tr>
    
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    const level_2      = document.getElementById("level_2")
    level_2.style.backgroundColor = "green";


  </script>