{% extends '_base.html' %}

{%block content %}


<aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-96 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
    aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            {% for loan in loans %}
            <li class="bg-gray-100 p-6" onclick='showDetail("{{loan.id}}")'>
                <div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
                    <h2 class="text-xl font-bold text-gray-800">Loan Details</h2>
                    <div class="flex justify-between items-center mt-4">
                        <div>
                            <p class="text-lg font-semibold text-gray-900">{{request.user.username}}</p>
                            <p class="text-sm text-gray-600">{{loan.loan_date}}</p>
                        </div>
                        <p class="text-xl font-bold text-gray-900">${{loan.loan_amount}}</p>
                    </div>
                </div>
            </li>

    {% endfor %}
         
        </ul>
    </div>
</aside>

<div class="p-4 sm:ml-64">
    <div class="bg-gray-100 p-6">
        <div class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-md">
            <h1 class="text-2xl font-bold mb-6 text-center">Check</h1>
            <div class="flex justify-between mb-4">
                <div class="w-1/2">
                    <p class="text-sm font-medium text-gray-700">Pay to the Order of:</p>
                    <p class="border-b border-gray-300 pb-1">Casey Daniels</p>
                </div>
                <div class="w-1/2 text-right">
                    <p class="text-sm font-medium text-gray-700">Date:</p>
                    <p class="border-b border-gray-300 pb-1" id="detail-date">09/03/24</p>
                </div>
            </div>

            <div class="flex mb-4">
                <div class="w-2/3">
                    <p class="text-sm font-medium text-gray-700">Amount:</p>
                    <p class="border-b border-gray-300 pb-1" id="detail_amount">$105.00</p>
                </div>
                <div class="w-1/3 ml-4">
                    <p class="text-sm font-medium text-gray-700">In Words:</p>
                    <p class="border-b border-gray-300 pb-1">One hundred five dollars</p>
                </div>
            </div>

            <div class="mb-4">
                <p class="text-sm font-medium text-gray-700">Address:</p>
                <p class="border-b border-gray-300 pb-1" id="detail_address">251 Timber Lodge Rd</p>
            </div>

            <div class="mb-4">
                <p class="text-sm font-medium text-gray-700">City, State, Zip:</p>
                <p class="border-b border-gray-300 pb-1">Los Angeles, CA 90001</p>
            </div>

            <div class="mb-4">
                <p class="text-sm font-medium text-gray-700">Memo:</p>
                <p class="border-b border-gray-300 pb-1">Bookkeeping</p>
            </div>

            <div class="mt-8">
                <h2 class="text-lg font-bold">Expenses</h2>
                <table class="min-w-full bg-white">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="py-2 px-4 text-left">Description</th>
                            <th class="py-2 px-4 text-left">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-b border-gray-300 py-2 px-4">Operating expenses/Professional Fees</td>
                            <td class="border-b border-gray-300 py-2 px-4">$105.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <script>
            const loans = "{{data}}"
            console.log("loans=",loans);
            const detail_date = document.getElementById("detail-date")
            const detail_amount = document.getElementById("detail_amount")
            const detail_address = document.getElementById("detail_address")
            function showDetail(id) {
                const apiUrl = `/api/loans/${id}/`;
          
                    $.ajax({
                        url: apiUrl,
                        method: 'GET',
                        success: function(data) {
                            detail_date.innerText = data.loan_date
                            detail_amount.innerText = data.loan_amount
                            detail_address.innerText = data.File_reference
                        },
                        error: function(error) {
                            console.error('Error fetching loans:', error);
                        }
                    });
               
               
            }
        </script>


{%endblock %}