<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="main">
        <div class="nav">
            <div class="nav-item">
                <p>Calculator</p>
            </div>
            <div class="nav-item">
                <p>
                    Affordability Calculator
                </p>
            </div>


            <div class="nav-item">
                <p>
                    Purchase
                </p>
            </div>


            <div class="nav-item">
                <p>
                    Reference
                </p>
            </div>


            <div class="nav-item">
                <p>
                    Rent vs Buy
                </p>
            </div>


            <div class="nav-item">
                <p>
                    VA Reference
                </p>
            </div>

            <div class="nav-item">
                <p>
                    Data-Service(OSCR)
                </p>
            </div>

            <div class="nav-item">
                <p>
                    Fix & Flip
                </p>
            </div>
        </div>
        <div class="line"></div>

        <div class="main-body">
            <div class="main-item">
                <div class="inner-item1">

                </div>
            </div>
            <div class="main-item">
                <div class="inner-item2">

                </div>
            </div>
            <div class="main-item">
                <div class="inner-item3">

                </div>
            </div>
        </div>
    </div>
  
</body>
</html>