<!-- templates/index.html -->

{% extends "_base.html" %}
{% load tailwind_filters %}
{% block content %}

  
  <div class="flex h-screen w-screen justify-center">
    <form action="." method="post" id="register-form">




      {% csrf_token %}
      {{form|crispy}}

      <button class="btn hidden">
        <span class="loading loading-spinner"></span>
        loading
      </button>

      <div class="flex flex-row justify-evenly">
        <button class="btn btn-neutral">Register</button>

        <p class="mt-4 text-sm text-gray-500 sm:mt-0">
          Already have an account?
          <a href="{% url 'login' %}" class="text-gray-700 underline">Log in</a>.
        </p>
      </div>

     
    

    
    </form>
  
  </div>

  <script>

    function handleForm() {
      var registerForm = '#register-form';
      $.ajax({
          url: "{% url 'validate-form' %}",
          type: "POST",
          data: $(registerForm).serialize(),
          success: function(data) {
              if (!(data['success'])) {
                  $(registerForm).replaceWith(data['form_html']);
              }
              else {
                  $(registerForm).find('.success-message').show();
              }
          },
          error: function () {
              $(registerForm).find('.error-message').show()
          }
      });
    
    }
  </script>
      
{% endblock content %}