{% load compress %}
{% load static %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AHF fintech</title>
    

    {% block style %}

    {% endblock %}

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{% static 'orgchart.js'%}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>


</head>

<body class="h-screen w-screen bg-green-50">
  <nav class="bg-gray-200 border-b border-gray-300">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center space-x-6">
                <span class="text-lg font-semibold">AHF</span>
                <div class="flex space-x-4">
                    <a href="#" class="text-gray-700 hover:text-blue-600">File</a>
                    <a href="#" class="text-gray-700 hover:text-blue-600">Edit</a>
                    <a href="#" class="text-gray-700 hover:text-blue-600">View</a>
                    <a href="#" class="text-gray-700 hover:text-blue-600">Insert</a>
                    <a href="#" class="text-gray-700 hover:text-blue-600">Format</a>
                    <a href="#" class="text-gray-700 hover:text-blue-600">Help</a>
                </div>
            </div>

        </div>
    </div>
</nav>
 
     {%if messages %}
      {% for message in messages %}
      <div class="w-screen text-center p-4 mb-4 text-lg text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
          <span class="font-medium"></span>{{message}}
        </div>
      {% endfor %}

      
     {% endif %}

  
    
    {% block content %}
    {% endblock content %}


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</body>

</html>