{% load humanize %}
{% load safe_divide %}


<tr class="min-w-full flex border-b border-neutral-200 dark:border-white/10 py-4">
    <td class="font-bold whitespace-nowrap">
        Net income before payroll
    </td>
    <td class="px-4">
    {{w2_branch_yearly_gross_income_data.net_income_before_payroll|intcomma}}
    </td>

    <td class="px-4 whitespace-nowrap">
   
    </td>

    <td class="px-4 whitespace-nowrap">
    
    </td>


    <td class="px-4 whitespace-nowrap">
     
    </td>

 



</tr>



