{% extends '_base.html'%}
{%load static %}
{% load humanize %}
{% load safe_divide %}

{%block style %}
<link href="{%static 'css/frape.css'%}" rel="stylesheet">
{% endblock %}

{%block content %}

<div id="datatable"></div>

<script src="{% static 'js/sortable.js'%}"></script>
<script src="{%static 'js/clusterize.js' %}"></script>

<script src="{%static 'js/frappe.js'%}"></script>


<script>

window.onload = function() {
  const user = "{{id}}"
    const BASE_URL = "{{BASE_URL}}"
 
    const loan_detail_url = `${BASE_URL}/api/get_loan_detail/?loan_detail=${user}`
    let _columns =  ['Split', 'File Reference', 'Loan amount','Date Funded', 'GCI', 'BPS',"Branch Commission",'AHF Commission', 'Recruiter Commission']

   const columns =  _columns.map((item) => {
        return      {
            name:item,
            id: item.toLowerCase(),
            editable: true,
            resizable: true,
            sortable: true,
            focusable: true,
            dropdown: true,
            width: 32,
        }
 
        

    })



    axios.get(loan_detail_url)
          .then((data) => {
            const _data = data.data
            console.log("_data[0]   = ",_data[0]); 
           if(_data[0].total_mlo !== 0) {
            const datatable = new DataTable('#datatable',{
                columns:columns,
                data:_data,
                layout:"fluid"
               
            });
          } else {
            window.location.pathname = "/error/"
          }
          })
          .catch((error) => {
            console.log("Error =",error);
          })

    

};
  
 
</script>

{% endblock %}